body {
  background-image: url("https://cdn.mos.cms.futurecdn.net/BfemybeKVXCf9pgX9WCxsc-970-80.jpg.webp");
  background-color: black;
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  color: whitesmoke;
}

h1 {
  position: absolute;
  font-size: 100px;
  border: 10px solid rgb(255, 255, 255);
  padding: 20px;
  width: fit-content;
  height: fit-content;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 475px auto 30px auto;
}

#navBar {
  padding: 20px;
  width: fit-content;
  margin: auto;
  border: 10px solid azure;
}

a {
  font-size: 40px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  color: azure;
}

h2 {
  font-size: 60px;
  margin: 10px;
}

h3 {
  font-size: 70px;
  margin: 10px;
}

.logobox {
  margin: auto;
  padding: 20px;
  width: 700px;
  height: 700px;
}

.logobox img {
  width: 100%;
  height: auto;
}

.houses {
  display: inline-block;
  margin: 20px;
  padding: 7px;
  cursor: pointer;
}

.houses button {
  font-size: 50px;
}

.houseDetails {
  margin: 100px auto auto auto;
  width: 1000px;
  font-size: 25px;
  padding: 10px;
}

.details {
  margin: 10px;
}
#Slytherin {
  color: rgb(11, 172, 84);
  border: 5px solid;
  border-color: rgb(11, 172, 84);
}

#Hufflepuff {
  color: rgb(205, 163, 26);
  border: 5px solid;
  border-color: rgb(205, 163, 26);
}

#Ravenclaw {
  color: rgb(5, 34, 225);
  border: 5px solid;
  border-color: rgb(5, 34, 225);
}

#Gryffindor {
  color: rgb(231, 30, 30);
  border: 5px solid;
  border-color: rgb(231, 30, 30);
}

input {
  margin-top: 20px;
  font-size: 30px;
  padding: 10px;
  font-family: "Cinzel Decorative", cursive;
}

button {
  font-size: 30px;
  font-family: "Cinzel Decorative", cursive;
  background-color: black;
  cursor: pointer;
  color: azure;
  padding: 10px;
  border: 2px solid aliceblue;
  margin: 20px auto 10px auto;
}

#listofspells,
#listofspecies {
  width: 60%;
  border: 5px solid azure;
  margin: 20px auto auto auto;
  height: 750px;
}

#listofwizards {
  width: 50%;
  border: 5px solid azure;
  margin: 20px auto auto auto;
  height: fit-content;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10px;
  row-gap: 75px;
  padding: 10px;
  height: 1800px;
  width: ;
}

.grid-item {
  width: 200px;
  height: 200px;
}

.wizardName {
  display: inline-block;
  border: 2px solid azure;
  padding: 5px;
  margin: 2px;
  font-size: 15px;
}

.spellName,
.speciesName {
  display: inline-block;
  border: 2px solid azure;
  padding: 5px;
  margin: 2px;
  cursor: pointer;
  font-size: 20px;
}
.spellName:hover {
  background-color: lightskyblue;
  transition: 0.2s;
}

ul {
  padding: 10px;
}

h4 {
  font-size: 25px;
  margin: auto;
}

#descriptionOfSpells {
  padding: 10px;
  margin: auto;
  height: 185px;
}

p {
  font-size: 20px;
  margin: auto;
  padding: 10px;
}

.wizardimage {
  border: 2px solid azure;
  border-radius: 50%;
  height: 175px;
  width: 150px;
  margin: 5px;
}

.wizardimageprofile {
  height: 350px;
  width: auto;
  margin: 10px;
  border: 2px solid azure;
  padding: 10px;
}

.modaloverlay {
  border: 5px solid gray;
  width: 500px;
  height: 800px;
  margin: 50px auto;
  background-color: black;
  font-size: 20px;
}
.modalregister {
  border: 5px solid gray;
  width: 750px;
  height: 850px;
  margin: 30px auto;
  background-color: black;
  font-size: 20px;
  padding: 20px;
}

table {
  border: 1px solid azure;
  margin: auto;
}

.enrollinput {
  margin: 20px;
  width: 300px;
  height: 50px;
  font-size: 30px;
  font-family: "Cinzel Decorative", cursive;
}

option {
  font-size: 30px;
  font-family: "Cinzel Decorative", cursive;
}
.enrolltable {
  margin-top: 50px;
  font-size: 30px;
  padding: 20px;
  font-family: "Cinzel Decorative", cursive;
}

label {
  font-size: 25px;
  margin: 10px;
}

#enrolledimage {
  margin: 20px;
  width: 45%;
  height: 400px;
}

.speciesbox {
  margin: 50px;
  height: fit-content;
  text-align: start;
}

#speciestable {
  font-size: 25px;
  height: 500px;
  width: 100%;
}

th {
  font-size: 70px;
}
